version: '1'

include:
    - docker-compose.yml

services:
    my-monitor-dsn-server:
        image: node:22-alpine
        container_name: my-monitor-dsn-server
        ports:
            - '3300:3300'
        environment:
            - NODE_ENV=production
        volumes:
            - ../:/app/dsn
        working_dir: /app/dsn/apps/backend/dsn
        command: 'node dist/main.js'
        depends_on:
            - my-monitor-clickhouse

    my-monitor-server:
        image: node:22-alpine
        container_name: my-monitor-server
        ports:
            - '3301:3301'
        environment:
            - NODE_ENV=production
        volumes:
            - ../:/app/monitor
            - ../logs/monitor-server:/app/monitor/apps/backend/monitor/logs
        working_dir: /app/monitor/apps/backend/monitor
        command: 'node dist/main.js'
        depends_on:
            - my-monitor-postgres

    my-monitor-frontend:
        image: caddy:2.11-alpine
        container_name: my-monitor-frontend
        ports:
            - '8080:8080'
            - '443:443'
        volumes:
            - ./caddy/Caddyfile:/etc/caddy/Caddyfile
            - ../apps/frontend/monitor/dist:/app/frontend/monitor/dist
        depends_on:
            - my-monitor-server
            - my-monitor-dsn-server
